Quansoso/Quansoso.xcodeproj/project.xcworkspace/xcshareddata/Quansoso.xccheckou
t
Quansoso/Quansoso.xcodeproj/xcuserdata/striveliu.xcuserdatad/xcschemes/xcschememanagement.plist
Quansoso/Quansoso.xcodeproj/xcuserdata/*
