<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>description</key>
	<string>三COLOUR秉承以“优雅、知性、浪漫”的设计理念，格调优雅，品质丰韵，致力于为时尚、知性的女性提供美的认知。</string>
	<key>status</key>
	<string>q</string>
	<key>New item</key>
	<string></string>
</dict>
</plist>
